<div>
    <app-step-selector (stepSelected)="onStepSelect($event)"></app-step-selector>

    <ng-container *ngComponentOutlet="steps[currentStep].component"></ng-container>

    <div>
        <button (click)="previousStep()" [disabled]="currentStep == 0">Previous</button>
        <button (click)="nextStep()" [disabled]="currentStep == steps.length -1">Next</button>
        <!-- <button (click)="addStep()">Add Step</button> -->
        <!-- <button (click)="removeStep()" [disabled]="steps.length == 0">Remove Current Step</button> -->
    </div>

    <h4>Steps Lists:</h4>
    <ul>
        <li *ngFor="let step of stepService.getSteps(); let i = index">
            <button (click)="addStep(i)">Step {{i + 1}} - {{step.title}}</button>
        </li>
    </ul>

    <ul>
        <li *ngFor="let item of (stepList$ | async); let i = index">
          <button (click)="selectStep(i)">{{ item.title }} - {{ item.component.name }}</button>
          <button (click)="removeStep(i)">Remove</button>
        </li>
    </ul>

    <div *ngIf="currentStep$ | async as stepItem">
        <ng-container *ngComponentOutlet="stepItem.component"></ng-container>
    </div>

</div>