<div class="container">
  <h2>Seccion Detail</h2>

  <div *ngIf="!isLoading; else loading">
    <div *ngIf="seccion$ | async as seccion; else noData">
      <p><strong>ID:</strong> {{ seccion.idseccion }} </p>
      <p><strong>Orden:</strong> {{ seccion.orden }}</p>
      <p><strong>Type:</strong> {{ seccion.type }}</p>
      <p><strong>ID Padre:</strong> {{ seccion.idpadre }}</p>
      <p><strong>Title:</strong> {{ seccion.title }}</p>
      <p><strong>Content:</strong> {{ seccion.content }}</p>
      <p><strong>Cuenta Mayor:</strong> {{ seccion.cuentaMayor }}</p>

      <div *ngFor="let subseccion of seccion.subsecciones; let i = index">
        <h3>Subseccion {{ i + 1 }}</h3>
        <p><strong>ID:</strong> {{ subseccion.idseccion }} </p>
        <p><strong>Orden:</strong> {{ subseccion.orden }}</p>
        <p><strong>Type:</strong> {{ subseccion.type }}</p>
        <p><strong>ID Padre:</strong> {{ subseccion.idpadre }}</p>
        <p><strong>Title:</strong> {{ subseccion.title }}</p>
        <p><strong>Content:</strong> {{ subseccion.content }}</p>
        <p><strong>Cuenta Mayor:</strong> {{ subseccion.cuentaMayor }}</p>
      </div>

      <button (click)="editSeccion(seccion.idseccion)" class="btn btn-warning">Edit</button>
      <button (click)="deleteSeccion(seccion.idseccion)" class="btn btn-danger">Delete</button>
    </div>
    <ng-template #noData>No data available.</ng-template>
  </div>
  <ng-template #loading><div>Loading...</div></ng-template>

</div>
