/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

/* Light Theme Variables */
:root {
    --background-color: white;
    --text-color: black;
    --primary-color: #1976d2;
}
  
/* Dark Theme Variables */
[data-theme='dark'] {
    --background-color: #121212;
    --text-color: white;  
    --primary-color: #90caf9;
}

/* Global Styles */
/* body {
    background-color: var(--background-color);
    color: var(--text-color);
} */

/* button {
    background-color: var(--primary-color);
} */
